textarea.form-control {
    height: auto;
}

@media (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none
    }
}

.react-select__control{
    border: 1px solid #e3ebf6 !important;
    box-shadow: none !important;
}

.invalid  .react-select__control {
    border-color:  #f5325c !important;
}

.react-select__single-value {
    color: #303e67 !important;
}

.react-datepicker-wrapper{
    display: block !important;
}